body{
    background-color: black;
}

.title{
    text-align: center;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 100px;
    margin-top: 50px;
    
}

.title:hover{
    opacity: 0%;
}

.link{
    width: 25px;
    height: 25px;
}

